* {
    padding: 0;
    margin: 0;
}
html, body{
    /* margin-left: 0px !important; */
    overflow: hidden;
    font-family: "Roboto Mono", monospace;
}
button {
    position: relative;
    border: 0.125em #1f1f1f solid;
    padding: 0.8125em 3.125em 0.8125em;
    letter-spacing: 1px;
    font-family: inherit;
    outline: 0;
    background-color: rgba(0, 0, 0, 0);
    color: #1f1f1f;
    margin: 1em;
    font-size: .7em;
    cursor: pointer;
    min-height: 3em;
    max-width: 80%;
}
button::after{
    content: "";
    background-color: #8bac9c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 0.4375em;
    left: 0.4375em;
}
button:active:hover::after{
    top: 0em;
    left: 0em;
}
.info.molasse {
    height: 50vh;
    padding-bottom: 0em;
}
.info.gneiss {
    height: 50vh;
    padding-bottom: 0em;
}
.info.calcaire {
    height: 50vh;
    padding-bottom: 0em;
}
.info {
    overflow: auto;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% auto 30%;
    grid-template-areas: "image" "text" "btn";
    font-size: 1em;
    bottom: -1.875em;
    height: 0px;
    text-align: center;
    position: fixed;
    background-color: #efebd8;

    transition: all 0.5s ease;
    width: 100%;
    margin: 1.875em auto;
    left: 0;
    right: 0;
}
.inst-tab {
    position: fixed;
    overflow: auto;
    padding: 3.125em;
    font-size: 1em;
    text-align: center;
    top: 0em;
    left: 0;
    right: 0;
    bottom: 0em;
    height: 100%;
    width: 100%;
    color: #1f1f1f;
    background-color: #efebd8;
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}
.inst-tab.active{
    top: 100%;
}
.img-tab {
    position: fixed;
    overflow: auto;
    padding: 3.125em;
    font-size: 1em;
    text-align: center;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0em;
    height: 100%;
    width: 100%;
    color: #1f1f1f;
    background-color: #efebd8;
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}
.img-tab.active{
    top: 0em;
}
.img {
    margin-top: 1.25em;
    width: 70%;
}
.score {
    position: fixed;
    top: 1em;
    font-size: 2em;
    left: -12.5em;
    transition: all 700ms ease;
    color: white;
}
.score.active {
    left: 1em;
}
p {
    margin-bottom: 3em;
}
.infoContent {
    border-radius: 0.5em;
    margin: 1.875em;
    grid-column-start: 1;
    grid-column-end: span col2-end;
    color: #1f1f1f;
}
.back-btn{
    grid-area: btn;
    grid-column-start: 1;
    justify-self: center;
}
.game-btn{
    grid-area: btn;
    grid-column-start: 2;
    justify-self: center;
}
.card-image{
    grid-area: image;
    grid-column-start: 1;
    grid-column-end: span col2-end;
    background-size: cover;
}
.info .btn{
    position: absolute;
    top: 0.625em;
    right: 1.5625em;
    font-size: 2.875em;
    margin-left: 3.125em;
    text-decoration: none;
    color: #ffffff;
}
.centered {
    height: 10%;
    justify-content: center;
    position: fixed;
    bottom: -100px;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0em auto;
    left: 0;
    right: 0;
    transition: all 350ms ease;
}
.centered.active {
    bottom: 0%;
}
.a-dialog{
    font-family: "Roboto Mono", monospace;
    background-color: #efebd8;
}
.a-dialog-allow-button {
    border: 0.0625em #1f1f1f solid;
    border-radius: 0em;
    outline: 0;
    background-color: rgba(0, 0, 0, 0);
}
.a-dialog-allow-button::after {
    z-index: -1;
}
.a-dialog-deny-button {
    border: 0.0625em #1f1f1f solid;
    border-radius: 0em;
    outline: 0;
    background-color: rgba(0, 0, 0, 0);
}
.a-dialog-deny-button::after {
    z-index: -1;
    background-color: #d1706a;
}
.arjs-loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: relative;
    animation: text-color 2s ease-in-out infinite alternate;
    background-color: rgba(0, 0, 0, 0.438) !important;
    z-index: 9999;
}
.spinner-sector {
    position: absolute;
    width: 12.5em;
    height: 12.5em;
    border-radius: 50%;
    border: 0.9375em solid transparent;
    mix-blend-mode: overlay;
    animation: rotate var(--duration) var(--timing) infinite;
    pointer-events: none;

}

.spinner-sector-red {
    border-left-color: #455073;
    --duration: 1.5s;
    --timing: ease-in-out;
}

.spinner-sector-blue {
    border-top-color: #c0904d;
    --duration: 2s;
    --timing: ease-in;
}

.spinner-sector-green {
    border-right-color: #6077c0;
    --duration: 2.5s;
    --timing: ease-out;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes text-color {
    0% {
        color: rgb(255, 255, 255);
    }

    50% {
        color: rgba(255, 255, 255, 0.5);
    }

    100% {
        color: rgba(255, 255, 255, 0.1);
    }
}
